.rapPicture{
cursor:pointer;
position:relative;
margin:8px;
padding:0px;
-webkit-user-select:none;
-moz-user-select:none;
}
.rapPictureFS{
background:black;
top:0px;
left:0px;
width:100% !important;
height:100%;
margin:0px;
padding:0px;
}
.rapPictureDiv{	
box-sizing: border-box;
top:0px;
display:block;
margin:auto;
opacity:0;
position:fixed;
pointer-events: none;
}
.rapPicture1{
top:0px;
display:block;
margin:auto;
}
.rapPicture2{
position:absolute;
width:100%;
height:100%;
z-index:2;
}
.rapPicture3{	
position:absolute;
width:100%;
height:100%;
z-index:3;
}
.rapPictureBorder{
border: 1px solid #888;
border-radius:5px;
box-shadow:4px 4px 6px #000;
}
.rapPictureStd{
width: 100%;	
}
.rapPictureFull{
height:100%;
}
.custom-menu {
display:none;
position:fixed;
z-index:1000;
overflow: hidden;
border: 1px solid #ccc;
white-space: nowrap;
font-family: sans-serif;
background:#eee;
color: #333;
border-radius: 5px;
margin:0px;
padding:4px;
}
.custom-menu li{
border:solid 1px #eee;
cursor: pointer;
padding: 4px 4px;
list-style: none;
}
.custom-menu li:hover {
background-color:#def;
border-color:#bcd;
}